.header {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: var(--background-color-light2);
  box-sizing: border-box;
}

.iconBox {
  width: auto;
}

.icon__light {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--icon-light);
}

.icon__dark {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--icon-light);
}

.icon__light:hover,
.icon__dark:hover {
  color: var(--main2);
}

.filter {
  display: flex;
  margin-left: auto;
}

.button {
  text-align: center;
  color: var(--main1);
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0 20px;
}

.button:hover {
  cursor: pointer;
  color: var(--main2);
}

.button.true {
  color: var(--main2);
  /* text-decoration: solid underline 3px var(--hover-light); */
  text-decoration: solid underline 3px var(--main2);
  text-underline-offset: 8px;
}
