.header {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: var(--background-color-light2);
  box-sizing: border-box;
}

.header.dark {
  background-color: var(--background-color-dark2);
}

.iconBox {
  width: auto;
  margin-right: 20px;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--icon-light);
}

.icon.dark {
  color: var(--icon-dark);
}

.icon:hover {
  color: var(--main1-2);
}

.icon.blue:hover {
  color: var(--main2-2);
}

.color-icon {
  width: 24px;
  height: 24px;
  box-shadow: 1px 1px 2px gray;
  background-color: var(--main1-2);

  border-radius: 50%;
  cursor: pointer;
}

.color-icon.blue {
  background-color: var(--main2-2);
}

.filter {
  display: flex;
  margin-left: auto;
}

.button {
  text-align: center;
  color: var(--main1-1);
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0 20px;
  cursor: pointer;
}

.button:hover {
  color: var(--main1-2);
}

.button.blue {
  color: var(--main2-1);
}
.button.blue:hover {
  color: var(--main2-2);
}

.button.active {
  color: var(--main1-2);
  text-decoration: solid underline 3px var(--main1-2);
  text-underline-offset: 8px;
}

.button.active.blue {
  color: var(--main2-2);
  text-decoration: solid underline 3px var(--main2-2);
}
