.main {
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--background-color-light1);
  flex-grow: 1;
  font-weight: bold;
}

.main.dark {
  background-color: var(--background-color-dark1);
  color: white;
}

.list {
  display: flex;
  /* border: 1px solid tomato; */
  padding: 5px 0;
  line-height: 25px;
  margin-top: 5px;
}

.list:first-child {
  margin-top: 0;
}

.title {
  flex-grow: 1;
  font-size: 1.2rem;
  /* color: red; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title.complete {
  color: gray;
  text-decoration: line-through;
}

.checkbox {
  min-width: 20px;
  min-height: 20px;
  margin-right: 10px;
  accent-color: var(--main1-2);
}

.checkbox.blue {
  accent-color: var(--main2-2);
}

.icon-box {
  margin-left: auto;
  min-width: 25px;
  min-height: 25px;
  max-width: 25px;
  max-height: 25px;
  line-height: 28px;
  border-radius: 50%;
  font-size: 0.9rem;
  text-align: center;
  background-color: var(--delete-light);
  cursor: pointer;
}

.icon-box:hover {
  background-color: var(--hover-light);
}

.icon-box.dark {
  background-color: var(--delete-dark);
}

.icon-box.dark:hover {
  background-color: var(--hover-dark);
}
