/* --main1: #e19257;
  --main2: #f16e03;
  --background-color-grad-body1: #4b6cb7;
  --background-color-grad-body2: #182848;
  --background-color-dark1: #222439;
  --background-color-dark2: #1a1c33;
  --background-color-light1: #fcfffc;
  --background-color-light2: #f4f4f4;
  --hover-dark: #dadadc;
  --hover-light: #a9acb4;
  --delete-dark: #494850;
  --delete-light: #3a3b44;
  --icon-dark: #ffffff;
  --icon-light: #000000; */

@value main1: #e19257;
